body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    cursor: none;
}

#gameArea {
    background: none;
    width: 1070px;
    height: 634px;
    margin: 0 0 0 -535px;
    position: absolute;
    top: 50px;
    left: 50%;
}

#gameArea > canvas#gameCanvas {
	background: none;
    left: 23px;
    top: 17px;
}

#gameArea.loaded {
    background : url('../img/bg_mur.png') no-repeat;
}

#gameArea.loaded > canvas#gameCanvas {
    background : url('../img/bg.jpg');
    -webkit-animation: bouger 5s infinite alternate;
}

#gameArea.gameover {
    background : none;
}

#gameArea > #gameover {
    background : url('../img/gameover-screen.jpg') transparent no-repeat;
    left: 23px;
    text-transform: uppercase;
    top: 17px;
}

    #gameover h2 {
        color: #ffae00;
        font-size: 30px;
        margin-top: 195px;
    }

        #gameover h3 {
            color: #ffae00;
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 0;
            margin-top: 0;
        }

            #gameover .left {
                float: left;
                margin-left: 184px;
                text-align: left;
                width: 290px;
            }

            #gameover .right {
                float: left;
                margin-left: 64px;
                text-align: left;
                width: 350px;
            }

                #gameover .right .art {
                    margin-left: 22px;
                }

                #gameover .right .sound ul {
                    margin-bottom: 0;
                }

            #gameover ul {
                margin-top: 0;
                margin-left: 0;
                padding-left: 0;
                margin-bottom: 20px;
            }

                #gameover li {
                    color: #FFF;
                    font-size: 14px;
                    list-style: none;
                }

                    #gameover .devs .first {
                        margin-left: 28px;
                    }

                    #gameover .devs .second {
                        margin-left: 67px; a
                    }

                    #gameover .devs .third {
                        margin-left: 97px;
                    }

                    #gameover .sound .first {
                        margin-left: 46px;
                    }

                    #gameover .art .first {
                        margin-left: 35px;
                    }

            #gameover .score {
                clear: both;
                color: #FFF;
                font-size: 30px;
                padding-top: 20px;
            }

            #button_retry {
                background: url('../img/button_retry.png') no-repeat transparent;
            }

            #gameover a,
            #gameover a:visited {
                display: block;
                height: 111px;
                margin: auto;
                width: 127px;
            }

#gameArea > canvas#gameCanvas,
#gameArea > #gameover {	
    width: 1024px;
    height: 600px;
	position: absolute;
}

@-webkit-keyframes bouger {
	0% { background-image: url('../img/bg.jpg'); }
	50% { background-image: url('../img/bg_2.jpg'); }
	100% { background-image: url('../img/bg_3.jpg'); }
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#header {
	width: 1024px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 50%;
	margin: 0 0 0 -512px;
}
#header #life {
    color: cyan;
    font: normal 2em/1em lucida_handwritingitalic;
    float: right;
}
#header #score {
    color: #f54a2e;
    font: normal 2em/1em lucida_handwritingitalic;
    float: left;
}

#gameover {
	background: black;
	display: none;
    color: red;
    text-align: center;
    font: normal 2em/1em lucida_handwritingitalic;
}
